@import 'tailwindcss';

@-webkit-keyframes spinnow {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spinnow {
    100% {
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}
@-ms-keyframes spinnow {
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}

@utility spinner {
    animation: 5s spinnow infinite linear;
    background: linear-gradient(130deg, #ff7e00, #ffffff, #5cff00);
}

@keyframes spinfunky {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    20% {
        transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
    }
    50% {
        transform: rotate(-380deg);
        -webkit-transform: rotate(-380deg);
    }
    70% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

@utility funky-spinner {
    animation: 3s spinfunky infinite cubic-bezier(0.5, 0, 0.5, 1);
    background: linear-gradient(
        130deg,
        var(--color-theme-primary),
        var(--color-bluenova-500)
    );
}
