@import 'tailwindcss';

@utility fullscreen-modal {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgb(from var(--color-abyss-800) r g b / 70%);
    padding: 1rem;
}

@utility floating-card {
    box-shadow:
        0 1px 2px 0 rgb(from var(--color-abyss-800) r g b / 40%),
        0 1px 3px 1px rgb(from var(--color-abyss-800) r g b / 75%);
}

@utility dropzone {
    outline: 0;
    height: 100%;
    display: flex;
    position: relative;
    min-width: 0;
    min-height: 0;
    border: 2px solid transparent;

    &[data-droppable='true'] {
        border: 2px solid var(--color-theme-primary);
        border-radius: 0.5rem;
        position: relative;
        z-index: 100;

        &::before {
            content: '';
            position: absolute;
            background-color: rgb(from var(--color-theme-secondary) r g b / 0.2);

            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            color: white;
            transform: translate(-50%, -50%);
            z-index: 1;
            --color-file-text: white;
        }
    }

    &[data-bad-drop='true'] {
        border: 2px solid #ff0000;
        --color-file-text: white;
        z-index: 100;
        cursor: not-allowed;
        border-radius: 0.5rem;
        position: relative;

        &::before {
            border-radius: 0.5rem;
            content: 'Cannot drop here';
            position: absolute;
            background-image: repeating-linear-gradient(
                45deg,
                rgba(from var(--color-card-background-primary) r g b / 0.75),
                rgba(from var(--color-card-background-primary) r g b / 0.75) 10px,
                rgba(from var(--color-red-600) r g b / 0.2) 10px,
                rgba(from var(--color-red-600) r g b / 0.2) 20px
            );
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 20px;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            color: white;
            transform: translate(-50%, -50%);
            cursor: not-allowed;
            z-index: 1;
        }
    }
}

@utility presentation-container {
    @apply bg-background-primary/85 absolute top-0 left-0 z-50 flex h-full w-full items-center justify-center p-6 backdrop-blur-sm;
}
