@import "../../components/theme.scss";

$cover-size: 350px;
$card-width-open: 750px;

.albums-container {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    padding-bottom: 20px;
    overflow-y: scroll;
    justify-content: space-between;
}

.albums-row {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.album-preview {
    margin: 20px;
    height: $cover-size;
    width: $cover-size;
    min-width: 100px;
    flex-basis: 200px;
    max-width: $cover-size;


    border-radius: 6px;
    cursor: pointer;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: all 350ms ease-in-out;
    flex-grow: 1;

    &:hover {
        flex-shrink: 0;
        flex-basis: $card-width-open + 40px;
        width: $card-width-open;
        max-width: $card-width-open;
    }

    &[faux-album='true'] {
        pointer-events: none;
    }
}

.faux-album {
    width: 0px;
    height: $cover-size;
    min-width: 0px;
    flex-basis: 0px;
    max-width: $cover-size;
    margin: 20px;
    flex-grow: 1;
}

.album-title-text {
    opacity: 0%;
    transition: all 200ms ease-in-out;
    font-weight: 600;
    color: antiquewhite;
    position: absolute;
    z-index: 3;
    text-wrap: nowrap;
    width: $cover-size;
    padding: 10px;
}

.album-preview:hover .album-title-text {
    opacity: 100%;
}

.cover-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    border-radius: 6px;
    overflow: hidden;
    max-width: $cover-size;
    width: 100%;
    height: $cover-size;
    z-index: 1;
    flex-shrink: 0;
    background-color: $background;
    outline: 2px solid #22222200;

    transition: all 200ms ease-in-out;

    &[data-no-cover='true']:not(:hover) {
        outline: 2px solid #222222
    }
}


.album-preview:hover .cover-box{
    transform: translateY(-1px);
    box-shadow: 4px 2px 12px #000000aa;
}


.cover-box::before {
    content: "";
    z-index: 2;
    display: flex;
    position: absolute;
    height: $cover-size;
    max-width: $cover-size;
    width: 100%;
    flex-shrink: 1;

    opacity: 0%;
    transition: all 150ms ease-in-out;
    border-radius: 6px;

    background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    pointer-events: none;
}

.cover-box:hover::before {
    opacity: 100%;
}

.cover-image {
    width: $cover-size;
}

.content-peek-wrapper {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 0px;
    overflow: hidden;

    flex-shrink: 0;
    overflow: hidden;
    border-radius: 6px;
    height: $cover-size;

    transform: translateY(-1px) translateX(-10px);

    transition: width 350ms ease-in-out;
}

.album-preview:hover .content-peek-wrapper {
    width: ($card-width-open - $cover-size) + 10px;
    opacity: 100%;
}

.content-peek-box {
    display: grid;
    align-items: center;
    justify-items: center;

    height: $cover-size;
    width: ($card-width-open - $cover-size) + 10px;
    flex-shrink: 0;
    padding-left: 10px;

    opacity: 0%;
    border-radius: 6px;
    overflow: hidden;
    background-color: #303030;

    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr);

    cursor: default;

    transition: opacity 250ms ease-in-out;
}

.album-preview:hover .content-peek-box {
    opacity: 100%;
}

@for $i from 1 through 9 {
    .album-preview:hover .peek-image-container:nth-child(#{$i}n) {
        opacity: 100%;
        transition: opacity 250ms #{($i+1) * 50}ms ease-in-out, transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
    }
}

.peek-image-container {
    width: calc(($card-width-open - $cover-size - 40px) / 3);
    height: calc(($cover-size - 40px) / 3);
    border-radius: 4px;
    opacity: 0%;

    &:hover {
        transform: translateY(-1px);
        box-shadow: $hard-shadow;
    }
}