.timeline-controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-grow: 0;
	margin: 8px;
	height: 56px;
	width: 95%;
	gap: 24px;
}

.preview-card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2px;
	cursor: pointer;
	outline: 2px solid #ffffff00;
	border-radius: 4px;
	overflow: hidden;
	position: relative;

	transition-property: scale, outline, opacity, border-radius, box-shadow;
	transition-duration: 200ms;
	transition-timing-function: var(--wl-transition-func);

	&[data-selecting='true'] {
		scale: 0.90;
		opacity: 50%;
		border-radius: 8px;

		&:hover,
		&[data-choosing='true'] {
			scale: 0.95;
			opacity: 90%;
		}

		&[data-selected='true'] {
			scale: 1.0;
			opacity: 90%;
			outline: 2px solid #ffffff00;
			border-radius: 0px;
		}
	}

	&:hover[data-selecting='false'] {
		scale: 1.05;
		box-shadow: 0 0 15px black;
		z-index: 3;
	}

	&[data-menu-open='true'] {
		scale: 1.05;
		box-shadow: 0 0 15px black;
		z-index: 4;
	}

	&[data-presenting='true'] {
		position: relative;
		border-radius: 12px;
		z-index: 100;
		box-shadow: 0 0 15px black;
	}
}

.media-menu-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 4;
	border-radius: 4px;
	overflow: hidden;
	width: 100%;
	cursor: default;
	background-color: #00000000;
	height: 100%;
	backdrop-filter: blur(0px);
	pointer-events: none;
	outline: 3px solid rgb(from var(--wl-theme-color-secondary) r g b / 0.5);

	transition: all 200ms;

	&[data-open='true'] {
		outline-offset: 0;
		outline: 3px solid rgb(from var(--wl-theme-color-secondary) r g b / 0.50);
		background-color: #00000044;
		pointer-events: all;
		backdrop-filter: blur(6px);
	}
}

.gallery-wrapper {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	height: 50%;
	flex-grow: 1;
	width: 100%;
	padding-bottom: 4px;
}

.gallery-image {
	border-radius: 4px;
}

.media-meta-preview {
	height: 100%;
	width: 100%;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	position: absolute;
	//opacity: 0;
	transition: opacity 150ms ease-in-out;

	//&:hover {
	//    opacity: 1;
	//}

	[data-selecting='true'] & {
		opacity: 0;
	}
}

.hover-icon {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: white;
	height: 28px;
	width: 28px;
	background-color: #00000055;
	border-radius: 4px;
	margin: 5px;
	padding: 2px;
	transition: width 150ms ease-in-out, background-color 100ms ease-in-out;
	overflow: hidden;
	opacity: 0;

	&[data-show-anyway='true'] {
		opacity: 1;
		background-color: #00000000;
	}

	:hover>& {
		opacity: 1;
		background-color: #00000055;
	}
}

.hover-icon:hover {
	justify-content: flex-start;
	background-color: #000000aa;
}

//.preview-card-container:hover .media-meta-preview {
//    opacity: 100%;
//}
