@import "../../components/theme.scss";

.options-dropdown {
    display: flex;
    flex-direction: column;

    padding: 10px;
    background-color: $bottom-grey;
    z-index: 300;
    height: max-content;
    width: 300px;

    opacity: 0;
    scale: 0.75;
    border-radius: 4px;
    box-shadow: $soft-shadow;
    outline: 1px solid $main-accent;
    transition: all 150ms ease-in-out;
    translate: -10% 57%;
    pointer-events: none;

    &[data-open='true'] {
        pointer-events: all;
        opacity: 100%;
        scale: 1;
    }
}

.album-selector {
    height: 128px;
    width: 128px;
    transition: all 150ms ease-in-out;
    cursor: pointer;
    outline: 1px solid $dark-paper;
    border-radius: 4px;
    overflow: hidden;
    transform: translateY(0);

    &:hover {
        transform: translateY(-1px);
        box-shadow: $hard-shadow;
    }

    &[data-included='true'] {
        font-weight: 700;
        background-color: $dark-paper;
    }

    &:before {
        content: "";
        display: flex;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;

        background: linear-gradient(20deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 20%);
    }
}

.album-selector-title {
    position: absolute;
    bottom: 0;
    left: 4px;
    z-index: 3;
}

//.album-selector:&[data-selected='true'] .album-selector-title {
//    font-weight: 700;
//}

.preview-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    cursor: pointer;
    outline: 2px solid #ffffff00;
    border-radius: 4px;
    transform-style: preserve-3d;

    transition:
        transform 100ms ease-in-out,
        outline 150ms ease-in-out,
        opacity 150ms ease-in-out;

    &[data-selecting='true'] {
        transform: scale(0.9, 0.9);
        opacity: 50%;
        // border-radius: 8px;

        &:hover, &[data-choosing='true'] {
            // box-shadow: $soft-shadow;
            // outline: 1px solid white;
            transform: scale(0.95, 0.95);
            opacity: 90%;
        }

        &[data-selected='true'] {
            transform: scale(1, 1);
            transition: outline 100ms ease-in-out;
            opacity: 90%;
            outline: 2px solid #ffffff00;
        }
    }

    &[data-presenting='true'] {
        // height: 100%;
        // width: 100%;
        // position: absolute;
        // top: 0;
        position: relative;
        border-radius: 12px;
        z-index: 100;
        // transform: scale(105%);
        box-shadow: 0 0 15px black;
    }
}

.preview-card-container:where([data-selecting="false"]):hover, .preview-card-container:where([data-menu-open="true"]) {
    transform: scale(105%);
    box-shadow: 0 0 15px black;
    // border: 2px solid white;
    z-index: 3;
}

.media-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 4;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    cursor: default;
    background-color: #00000000;
    height: 100%;
    backdrop-filter: blur(0px);
    pointer-events: none;
    outline: 3px solid $dark-paper-transparent;

    transition: all 200ms;

    &[data-open='true'] {
        outline-offset: 0;
        outline: 3px solid $dark-paper;
        background-color: #00000044;
        pointer-events: all;
        backdrop-filter: blur(6px);
    }
}

.gallery-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 98vh;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 150px;
}

.gallery-scroll-box {
    height: max-content;
    width: 100%;

    //padding-top: 10px;
    padding-bottom: 150px;
}

.gallery-image {
    border-radius: 4px;
}

.media-meta-preview {
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    opacity: 0;
    transition: opacity 150ms ease-in-out;

    //&hover {
    //    opacity: 100%;
    //}

    //&[data-visible='true'] {
    //    opacity: 100%;
    //}
}

.preview-card-container:hover .media-meta-preview {
    opacity: 100%;
}