@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--wl-text-color-primary);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

body {
    width: 100vw;
    position: fixed;
    line-height: 1.5;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--wl-text-color-primary);
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--wl-text-color-primary);
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--wl-text-color-primary);
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--wl-text-color-primary);
}

h5 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--wl-text-color-primary);
}

p,
span {
    font-size: 1rem;
    font-weight: 400;
    color: var(--wl-text-color-primary);
}

a {
    color: var(--wl-color-bluenova-300);
    text-decoration: underline;
}

a:hover,
a:focus {
    color: var(--wl-color-bluenova-200);
}

input,
select,
textarea {
    color: var(--wl-text-color-primary);
    font-family: 'Noto Sans', sans-serif;
}

input:placeholder-shown {
    font-style: italic;
}

.background-icon {
    color: var(--wl-text-color-primary);
    flex-shrink: 0;
}

.theme-background {
    background-color: var(--wl-background);
}

.theme-text-flipped {
    color: var(--wl-text-color-primary-inverted);
}

.theme-text-dark-bg {
    color: white;
}

.theme-outline {
    outline: 2px solid var(--wl-floating-grey);
}

.theme-dark-paper {
    background-color: var(--dark-paper);
}
