@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        margin: 0;
        font-family: 'Noto Sans', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: var(--wl-text-color-primary);
        background-color: var(--wl-background-color-primary);
    }

    code {
        font-family:
            source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }

    body {
        width: 100vw;
        position: fixed;
        line-height: 1.5;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 800;
        color: var(--wl-text-color-primary);
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
        color: var(--wl-text-color-primary);
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--wl-text-color-primary);
    }

    h4 {
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--wl-text-color-primary);
    }

    h5 {
        font-size: 1rem;
        font-weight: 500;
        color: var(--wl-text-color-primary);
    }

    h6 {
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--wl-text-color-primary);
    }

    span {
        font-family: 'Noto Sans', sans-serif;
        font-size: 0.875rem;
        font-weight: 400;
        color: var(--wl-text-color-primary);
    }

    button {
        position: relative;
        display: inline-block;

        font-family: 'Noto Sans', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;

        background-color: var(--wl-button-color);
        color: var(--wl-button-text-color);
        outline: 1px solid rgb(from var(--wl-button-color) r g b / 0%);

        border: none;
        border-radius: var(--wl-border-radius);
        padding: var(--wl-button-spacing);
        cursor: pointer;
        transition-property: background-color, box-shadow, transform, outline;
        transition-timing-function: var(--wl-transition-func);
        transition-duration: var(--wl-transition-duration);
        width: auto;
    }

    button:hover {
        background-color: rgb(from var(--wl-button-color) r g b / 50%);
        box-shadow: var(--wl-soft-shadow);
        outline: 1px solid var(--wl-button-color);
    }

    button:where([data-fill-width='true']) {
        width: 100%;
    }

    button:where([data-flavor='outline']) {
        outline: 1px solid var(--wl-button-color);
        background-color: rgb(from var(--wl-button-color) r g b / 20%);
    }

    button:where([data-flavor='outline']):hover {
        background-color: rgb(from var(--wl-button-color) r g b / 40%);
    }

    button:disabled {
        background-color: var(--wl-button-color-disabled);
        color: var(--wl-button-text-color-disabled);
        cursor: not-allowed;
        outline: 1px solid rgb(from var(--wl-button-color) r g b / 0%);
    }

    button:active:not(:disabled) {
        transform: translateY(5%);
    }

    p {
        font-size: 0.75rem;
        font-weight: 400;
        color: var(--wl-text-color-primary);
    }

    a {
        color: var(--wl-color-bluenova-300);
        text-decoration: underline;
    }

    a:hover,
    a:focus {
        color: var(--wl-color-bluenova-200);
    }

    input,
    select,
    textarea {
        background-color: inherit !important;
        color: var(--wl-text-color-primary);
        font-family: 'Noto Sans', sans-serif;
    }

    input:autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 40px var(--wl-background-color-primary)
            inset !important;
    }

    input:placeholder-shown {
        font-style: italic;
    }

    input:focus-visible {
        outline: none !important;
    }
}

@layer components {
    .no-scrollbar {
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .photo-container {
        display: flex;
        flex-shrink: 0;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 4px;
    }

    .media-image {
        height: 100%;
        width: 100%;
        user-select: none;
        position: relative;
        z-index: inherit;
        border-radius: 4px;

        &[data-fit-logic='cover'] {
            transform-origin: center center;
            object-fit: cover;
        }

        &[data-fit-logic='contain'] {
            max-height: 100%;
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: contain;
        }

        &[data-disabled='true'] {
            filter: grayscale(100%);
        }

        &[data-hide='true'] {
            display: none;
        }
    }

    .wl-static-card {
        background-color: var(--wl-card-background-color-primary);
        border-radius: var(--wl-border-radius);
        box-shadow: var(--wl-soft-shadow);
        padding: 0.5rem;
    }

    .wl-floating-card {
        background-color: var(--wl-background-color-primary);
        border-radius: var(--wl-border-radius-lg);
        border: 1px solid var(--wl-theme-color-primary);
        box-shadow: var(--wl-soft-shadow);
        padding: 0.5rem;
    }
}

@theme {
    --wl-ease: var(--wl-transition-func);
}
