@import "../../components/theme.module";

$cover-size: 450px;

.albums-container {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    padding-bottom: 20px;
    overflow-y: scroll;
    justify-content: space-between;
}

.albums-row {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.album-preview {
    margin: 20px;
    height: $cover-size;
    width: $cover-size;
    min-width: 100px;
    flex-basis: 200px;
    max-width: $cover-size;


    border-radius: 6px;
    cursor: pointer;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: all 350ms ease-in-out;
    flex-grow: 1;

    &[faux-album='true'] {
        pointer-events: none;
    }
}

.faux-album {
    width: 0;
    height: $cover-size;
    min-width: 0;
    flex-basis: 0;
    max-width: $cover-size;
    margin: 20px;
    flex-grow: 1;
}

.album-title-text {
    opacity: 100%;
    transition: all 200ms ease-in-out;
    font-weight: 600;
    color: antiquewhite;
    z-index: 3;
    text-wrap: nowrap;
    width: $cover-size;
}

.cover-box[data-sharing='true'] .album-title-text {
    opacity: 0;
}

.album-title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    height: 56px;
    position: absolute;
    z-index: 10;
    width: 100%;
    gap: 4px;
    transition: 200ms opacity ease-in-out;
}

.album-controls-wrapper {
    display: flex;
    opacity: 0;
    flex-direction: row;
}

.cover-box:hover[data-sharing='false'] .album-controls-wrapper {
    opacity: 100%;
}

.cover-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 6px;
    overflow: hidden;
    max-width: $cover-size;
    width: 100%;
    height: $cover-size;
    z-index: 1;
    flex-shrink: 0;
    background-color: var(--wl-background);
    outline: 2px solid #22222200;
    position: fixed;

    transition: all 200ms ease-in-out;

    &[data-no-cover='true']:not(:hover) {
        outline: 2px solid #222222
    }
}


.album-preview:hover .cover-box{
    transform: translateY(-1px);
    box-shadow: 4px 2px 12px #000000aa;
}

.cover-box::before {
    content: "";
    z-index: 3;
    display: flex;
    position: absolute;
    height: $cover-size;
    max-width: $cover-size;
    width: 100%;
    flex-shrink: 1;

    opacity: 0;
    transition: all 150ms ease-in-out;
    border-radius: 6px;
    pointer-events: none;
}

.cover-box::after {
    content: "";
    z-index: 2;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(20deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 20%);
    pointer-events: none;
}

.cover-box:hover[data-sharing='false']::before {
    opacity: 100%;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.65) 100%);
}

.cover-image {
    width: $cover-size;
}

.content-preview-wrapper {
    overflow: hidden;
    border-radius: 4px;
    position: absolute;
    width: 98%;
    height: max-content;
    margin: 4px;
    top: 0;
    opacity: 0;
    z-index: 10;
    transition: 200ms opacity ease-in-out;
}

.cover-box:hover[data-sharing='false'] .content-preview-wrapper{
    opacity: 100%;
}

.content-preview-item {
    height: 80px;
    width: 80px;
    border-radius: 4px;
    overflow: hidden;
    //transition: all 150ms ease-in-out;

    &[data-selected='true'] {
        cursor: default;
    }

    //&:hover {
    //    transform: translateY(-2px);
    //}
}

.album-share-menu {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 16px;
    opacity: 0;
    transition: all 250ms ease-in-out;
    backdrop-filter: blur(0px);
    z-index: 4;
    pointer-events: none;
}

.cover-box[data-sharing='true'] .album-share-menu{
    pointer-events: all;
    opacity: 100%;
    backdrop-filter: blur(8px) saturate(50%);
};

.user-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 95%;
    height: 40px;
    padding: 8px;
    margin: 2px;
    border-radius: 2px;
    color: white;
    outline: 1px solid $light-paper-transparent;
    transition: all 150ms ease-in-out;
    background-color: $light-paper;

    &:hover {
        background-color: $light-paper-transparent;
        outline: 1px solid $light-paper;
    }
}

.album-selector {
    height: 128px;
    min-height: 128px;
    width: 128px;
    min-width: 128px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    outline: 1px solid var(--dark-paper);
    border-radius: 4px;
    overflow: hidden;
    transform: translateY(0);
    flex-grow: 0;
    flex-shrink: 0;

    &:hover {
        transform: translateY(-1px);
        box-shadow: $hard-shadow;
    }

    &[data-included='true'] {
        font-weight: 700;
        background-color: var(--dark-paper);
    }

    &[data-disabled='true'] {
        pointer-events: none;
        filter: grayscale(100%);
        color: var(--wl-text-color-dull);
    }
}

.album-selector::before {
    content: "";
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;

    background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 25%);
}

.album-selector[data-disabled='true']::before {
    opacity: 0;
}

.album-selector[data-has-media='false']::before {
    opacity: 0;
}

.album-selector-title {
    position: absolute;
    bottom: 0;
    left: 4px;
    z-index: 3;
    color: white;
    font-size: 14px;
    user-select: none;
}

.album-selector[data-disabled='true'] .album-selector-title {
    font-weight: 400;
}
