@import "../../components/theme";

.startup-header-box {
    display: flex;
    align-items: center;
    justify-content: center;

    animation: rainbow 15s ease-in-out infinite;
    background: linear-gradient(90deg,
            #ff2400,
            #e81d1d,
            #e8b71d,
            #e3e81d,
            #1de840,
            #1ddde8,
            #2b1de8,
            #dd00f3,
            #dd00f3);
    background-size: 2000% 100%;
    outline: 1px solid #00000000;
}

.startup-header-text {
    display: inline-flex;
    font-size: 72px;
    font-weight: 600;
    padding: 4px;
    background-clip: text;
    user-select: none;
    width: 100%;
    justify-content: center;
    text-align: center;

    animation: rainbow 15s ease-in-out infinite;
    background: linear-gradient(90deg,
            #ff2400,
            #e81d1d,
            #e8b71d,
            #e3e81d,
            #1de840,
            #1ddde8,
            #2b1de8,
            #dd00f3,
            #dd00f3);
    background-size: 2000% 100%;
    outline: 1px solid #00000000;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
