# This file contains environment variables for the Docker Compose configuration for Weblens.
# All paths should be absolute paths on the host machine where Docker is running.

# Path to the directory on the host machine where Weblens will store its data. This should be large, perhaps slow, persistent storage that can be mounted as a volume in the Docker container. Think hard drive.
# This is where Weblens will store files, like those uploaded by users (you!).
DATA_HOST_PATH=/path/to/your/data/directory

# Path to the directory on the host machine where Weblens will store its cache. This should be a fast storage location, such as an SSD, that can be mounted as a volume in the Docker container.
# This is where Weblens will store short to medium term data, such as cached thumbnails, intermediate files, and other data that can be regenerated if lost.
CACHE_HOST_PATH=/path/to/your/cache/directory

# Path to the directory on the host machine where Weblens will store its database files. This should also be fast storage, such as an SSD, that can be mounted as a volume in the Docker container.
DATABASE_HOST_PATH=/path/to/your/database/directory
