@import "@weblens/components/theme.module";

.admin-user-row {
	display: flex;
	width: 100%;
	position: relative;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-radius: 6px;
	background-color: var(--wl-item-grey);
	height: 56px;
	padding: 8px;
}

.settings-menu-container {
	z-index: 99;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	padding: 2vh;
	background-color: #00000077;
	backdrop-filter: blur(4px);

	transition: opacity 150ms ease-in-out;

	pointer-events: none;
	opacity: 0;

	&[data-open='true'] {
		pointer-events: all;
		opacity: 100%;
	}
}

.settings-menu {
	z-index: 99;
	position: relative;
	padding: 1vw;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	// overflow-y: scroll;
	background-color: var(--wl-bottom-grey);
	outline: 1px solid var(--wl-main-accent);
	box-shadow: 0 0 10px 2px #00000044;
	border-radius: 6px;
	gap: 4px;
}

.content-header {
	border-bottom: 1px solid var(--wl-outline-subtle);
	margin: 8px;

}

.content-box {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: relative;
	padding: 1em;
	outline: 1px solid var(--wl-outline-subtle);
	border-radius: 4px;

	h2 {
		font-size: 24px;
	}
}
