@import 'tailwindcss';

@theme {
    --breakpoint-xs: 30rem;

    --color-amethyst-50: rgb(235, 230, 250, 100);
    --color-amethyst-100: rgb(215, 204, 245, 100);
    --color-amethyst-200: rgb(175, 153, 235, 100);
    --color-amethyst-300: rgb(134, 102, 224, 100);
    --color-amethyst-400: rgb(94, 51, 214, 100);
    --color-amethyst-500: rgb(74, 26, 209, 100);
    --color-amethyst-600: rgb(54, 0, 204, 100);
    --color-amethyst-700: rgb(49, 0, 184, 100);
    --color-amethyst-800: rgb(43, 0, 163, 100);
    --color-amethyst-900: rgb(38, 0, 143, 100);
    --color-amethyst-1200: rgb(32, 10, 92, 100);

    --color-bluenova-50: rgb(229, 229, 255, 100);
    --color-bluenova-100: rgb(204, 204, 255, 100);
    --color-bluenova-200: rgb(153, 153, 255, 100);
    --color-bluenova-300: rgb(102, 102, 255, 100);
    --color-bluenova-400: rgb(51, 51, 255, 100);
    --color-bluenova-500: rgb(26, 26, 255, 100);
    --color-bluenova-600: rgb(0, 0, 255, 100);
    --color-bluenova-700: rgb(0, 0, 229, 100);
    --color-bluenova-800: rgb(0, 0, 204, 100);
    --color-bluenova-900: rgb(0, 0, 179, 100);

    --color-graphite-50: rgb(245, 245, 245, 100);
    --color-graphite-100: rgb(224, 224, 224, 100);
    --color-graphite-200: rgb(204, 204, 204, 100);
    --color-graphite-300: rgb(179, 179, 179, 100);
    --color-graphite-400: rgb(153, 153, 153, 100);
    --color-graphite-500: rgb(128, 128, 128, 100);
    --color-graphite-600: rgb(102, 102, 102, 100);
    --color-graphite-700: rgb(77, 77, 77, 100);
    --color-graphite-800: rgb(51, 51, 51, 100);
    --color-graphite-900: rgb(26, 26, 26, 100);

    --color-aurora-50: rgb(249, 250, 251, 100);
    --color-aurora-100: rgb(243, 244, 246, 100);
    --color-aurora-200: rgb(229, 231, 235, 100);
    --color-aurora-300: rgb(209, 213, 219, 100);
    --color-aurora-400: rgb(156, 163, 175, 100);
    --color-aurora-500: rgb(107, 114, 128, 100);
    --color-aurora-600: rgb(75, 85, 99, 100);
    --color-aurora-700: rgb(55, 65, 81, 100);
    --color-aurora-800: rgb(31, 41, 55, 100);
    --color-aurora-900: rgb(17, 24, 39, 100);

    --color-abyss-50: rgb(42, 46, 51, 100);
    --color-abyss-100: rgb(37, 40, 45, 100);
    --color-abyss-200: rgb(31, 34, 39, 100);
    --color-abyss-300: rgb(26, 29, 34, 100);
    --color-abyss-400: rgb(24, 30, 42, 100);
    --color-abyss-500: rgb(19, 23, 28, 100);
    --color-abyss-600: rgb(17, 20, 24, 100);
    --color-abyss-700: rgb(11, 14, 20, 100);
    --color-abyss-800: rgb(9, 11, 14, 100);
    --color-abyss-900: rgb(5, 8, 10, 100);

    --color-valid: #00b123;
    --color-warn: rgb(255, 204, 0, 100);
    --color-danger: rgb(255, 68, 68, 100);

    --wl-border-radius-sm: 0.15rem;
    --wl-border-radius: 0.25rem;
    --wl-border-radius-lg: 0.5rem;
    --wl-shadow-intensity: 2px;

    --ease-wl-default: cubic-bezier(0.4, 0, 0.2, 1);
    --wl-transition-duration: 150ms;

    /* Button */
    --color-button-danger: rgb(255, 68, 68, 100);
    --color-button-danger-hover: rgb(122, 31, 31, 100);

    --wl-padding-sm: 0.25rem;
    --wl-padding-md: 0.65rem;
    --wl-padding-lg: 0.85rem;

    --font-mono: 'Source Code Pro';

    --animate-fade-in: fade-in 200ms var(--ease-in-out);
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@theme inline {
    --color-theme-primary: var(--color-bluenova-700);
    --color-theme-secondary: var(--color-amethyst-900);
    --color-theme-tertiary: var(--color-amethyst-1200);

    --color-text-near-white: var(--color-aurora-200);
    --color-text-near-black: var(--color-abyss-500);
    --color-nearly-invisible: light-dark(var(--color-text-near-white), var(--color-text-near-black));

    --color-button-text: var(--color-text-near-white);

    --color-text-primary: light-dark(var(--color-abyss-200), var(--color-text-near-white));
    --color-text-secondary: light-dark(var(--color-aurora-600), var(--color-aurora-400));
    --color-text-tertiary: light-dark(var(--color-aurora-400), var(--color-aurora-600));

    --color-border-primary: light-dark(var(--color-aurora-400), var(--color-abyss-400));
    --color-border-secondary: light-dark(var(--color-aurora-700), var(--color-aurora-600));
    --color-border-tertiary: light-dark(var(--color-aurora-500), var(--color-abyss-500));

    --color-progress-bar-primary: var(--color-theme-primary);
    --color-progress-bar-secondary: var(--color-theme-secondary);

    --color-background-primary: light-dark(var(--color-aurora-100), var(--color-abyss-700));
    --color-background-secondary: light-dark(var(--color-aurora-300), var(--color-abyss-200));
    --color-background-tertiary: light-dark(var(--color-aurora-400), var(--color-abyss-50));
    --color-background-hover: light-dark(var(--color-aurora-200), var(--color-abyss-500));

    --color-card-background-primary: light-dark(var(--color-aurora-300), var(--color-abyss-400));
    --color-card-background-hover: light-dark(var(--color-aurora-400), var(--color-aurora-800));
    --color-card-background-selected: light-dark(var(--color-bluenova-700), var(--color-amethyst-900));
    --color-card-background-selected-hover: light-dark(var(--color-bluenova-300), var(--color-amethyst-800));
    --color-card-background-disabled: light-dark(var(--color-aurora-400), var(--color-abyss-50));

    --color-shadow: light-dark(var(--color-abyss-50), var(--color-abyss-900));

    --color-hard-shadow: 0.25em 0.25em 1px var(--abyss-900);
    --wl-soft-shadow: 0.2em 0.2 var(--wl-shadow-intensity) var(--color-shadow);
    --color-soft-shadow-hidden: 0 0 0px var(--wl-shadow);

    --color-button-primary: var(--color-theme-primary);
    --color-button-primary-dull: #0a0b3d;
    --color-button-primary-hover: var(--color-theme-tertiary);

    --color-button-disabled: light-dark(var(--color-aurora-400), var(--color-aurora-700));
    --color-button-secondary: light-dark(var(--color-aurora-300), var(--color-aurora-800));

    --color-button-text-primary: var(--color-text-near-white);
    --color-button-text-disabled: var(--color-text-secondary);

    --color-message: var(--color-theme-primary);
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-border-primary, currentColor);
        box-sizing: border-box;
    }

    *::-webkit-scrollbar {
        height: 0.5rem;
        width: 0.4rem;
        padding: 0.1rem;
        background-color: var(--color-background-primary);
    }

    *::-webkit-scrollbar-thumb {
        height: 0.5rem;
        width: 0.1rem;
        background-color: var(--color-text-primary);
        color: var(--color-text-primary);
        border-radius: var(--wl-border-radius-sm);
    }

    body {
        margin: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: var(--color-text-primary);
        background-color: var(--color-background-primary);

        width: 100vw;
        position: fixed;
        line-height: 1.5;
        font-family: 'Noto Sans', sans-serif;
        color: var(--color-text-primary);
    }

    code {
        font-family: 'Source Code Pro';
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 800;
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    h3 {
        @apply line-clamp-none;
        font-size: 1.5rem;
        font-weight: 600;
    }

    h4 {
        font-size: 1.2rem;
        font-weight: 500;
    }

    h5 {
        font-size: 1rem;
        font-weight: 500;
    }

    h6 {
        font-size: 0.875rem;
        font-weight: 500;
    }

    span {
        @apply line-clamp-none;
        font-family: 'Noto Sans', sans-serif;
        font-size: 0.875rem;
        font-weight: 400;
    }

    button {
        position: relative;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing);

        font-family: 'Noto Sans', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;

        background-color: var(--color-button-primary);
        color: var(--color-button-text);
        outline: 1px solid rgb(from var(--color-button-primary) r g b / 0%);

        padding: 0 var(--wl-padding-lg);
        height: calc(var(--spacing) * 10);

        border: none;
        border-radius: var(--wl-border-radius);
        cursor: pointer;
        transition-property: background-color, box-shadow, transform, outline, width;
        transition-timing-function: var(--ease-wl-default);
        transition-duration: var(--wl-transition-duration);
        width: max-content;
    }

    button:where([data-fill-width='true']) {
        width: 100%;
    }

    button:where([data-flavor='danger']) {
        --color-button-primary: var(--color-button-danger);
        --color-button-disabled: rgb(from var(--color-button-danger) r g b / 50%);
    }

    button:where([data-flavor='secondary']) {
        --color-button-primary: var(--color-button-secondary);
    }

    button:where([data-type='default']):hover,
    button:not([data-type]):hover {
        background-color: rgb(from var(--color-button-primary) r g b / 50%);
        box-shadow: var(--wl-soft-shadow);
        outline: 1px solid var(--color-button-primary);
    }

    button:where([data-type='outline']) {
        outline: 1px solid var(--color-button-primary);
        background-color: rgb(from var(--color-button-primary) r g b / 20%);
    }

    button:where([data-type='outline']):where([data-selected='false']) {
        --color-button-text: var(--color-text-primary);
    }

    button:where([data-type='outline']):hover {
        background-color: rgb(from var(--color-button-primary) r g b / 40%);
    }

    button:where([data-type='light']):where([data-selected='false']) {
        --color-button-text: var(--color-text-primary);
        background-color: rgb(from var(--color-button-primary) r g b / 0%);
    }

    button:where([data-type='light']):hover:where([data-selected='false']) {
        background-color: rgb(from var(--color-button-primary) r g b / 40%);
    }

    button:where([data-type='light']):where([data-selected='true']) {
        background-color: rgb(from var(--color-button-primary) r g b / 65%);
    }

    button:disabled {
        background-color: var(--color-button-disabled);
        color: var(--color-button-text-disabled);
        cursor: not-allowed;
        outline: 1px solid rgb(from var(--color-button-primary) r g b / 0%);
        box-shadow: none;
        pointer-events: none;
    }

    button:active:not(:disabled) {
        transform: translateY(5%);
    }

    p {
        font-size: 0.75rem;
        font-weight: 400;
        color: var(--color-text-primary);
    }

    a {
        color: var(--color-bluenova-300);
        text-decoration: underline;
    }

    a:hover,
    a:focus {
        color: var(--color-bluenova-200);
    }

    input,
    select,
    textarea {
        width: 100%;
        color: var(--color-text-primary);
        font-family: 'Noto Sans', sans-serif;
    }

    input:autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 40px var(--color-background-primary) inset !important;
    }

    input[type='search']::-webkit-search-decoration,
    input[type='search']::-webkit-search-cancel-button,
    input[type='search']::-webkit-search-results-button,
    input[type='search']::-webkit-search-results-decoration {
        -webkit-appearance: none;
    }

    input::placeholder {
        color: var(--color-text-tertiary); /* Sets the placeholder text color to red */
        opacity: 1; /* Ensures full opacity, especially for Firefox */
    }

    input:placeholder-shown {
        font-style: italic;
    }

    input:focus-visible {
        outline: none !important;
    }

    .tabler-icon {
        flex-shrink: 0;
    }

    .no-scrollbar,
    .no-scrollbar::-webkit-scrollbar {
        display: none;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}
