#__nuxt {
    width: 100vw;
    height: 100vh;
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }
}

@layer components {
    .fullscreen-modal {
        background-color: rgb(from var(--color-background-primary) r g b / 75%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 70;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(4px);

        @media (width >= 64rem) {
            padding: 1rem;
        }
    }

    .page-root {
        height: 100%;
        width: 100%;
        display: flex;
        flex: 1 1 auto;
        min-height: 0;
        min-width: 0;
    }

    .clickable {
        cursor: pointer;
        transition-timing-function: var(--ease-wl-default);
        transition-duration: 200ms;
        transition-property: background-color;
        border-radius: 0.25rem;
        padding: 0.25rem;
        flex-shrink: 0;
    }

    .clickable:hover {
        background-color: var(--color-card-background-hover);
    }

    .goneable {
        transition: opacity var(--wl-transition-duration) var(--ease-wl-default);
    }

    .gone {
        pointer-events: none;
        opacity: 0;
    }

    /* You cant see it or touch it, but it's still floating around. So, haunted. */
    .haunted {
        pointer-events: none;
        opacity: 0;
        position: absolute;
    }

    .form-group {
        padding: 10px;
        border: 2px solid;
        margin: 10px;
    }
    .form-group > label {
        position: absolute;
        top: -1px;
        left: 20px;
    }

    .form-group > input {
        border: none;
    }
}
