.preview-card-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin: 2px;
    position: relative;
    cursor: pointer;
    outline: 1px;

    transition:
        transform 0.15s ease-in-out,
        outline 0.2s ease-in-out;
}

.preview-card-container:where([data-selected="true"]) {
    /* overflow: 'visible'; */
    /* padding: 10px; */
    /* margin: 10px; */
    transform: scale(1, 1);
    transform: outline 0.1s ease-in-out;

    outline: 0px solid #4444ee;
}

.preview-card-container:where([data-selecting="true"]):where(
        [data-selected="false"]
    ) {
    transform: scale(0.9, 0.9);
    opacity: 50%;
    border-radius: 8px;
    transition:
        transform 0.15s ease-in-out,
        opactity 1s ease-in-out;
}

.preview-card-container:where([data-selecting="true"]):where(
        [data-selected="false"]
    ):hover {
    outline: 2px solid white;
    transform: scale(0.95, 0.95);
    opacity: 90%;
}

.preview-card-container:where([data-selecting="true"]):where(
        [data-selected="true"]
    ):hover {
    outline: 2px solid white;
    transition:
        transform 0.15s ease-in-out,
        outline 0s ease-in-out;
}

.preview-card-container:where([data-selecting="false"]):hover {
    /* overflow: 'visible'; */
    transform: scale(1.04, 1.04);
    outline: 2px solid white;
    z-index: 4;
}
