@import "./theme.module.scss";

.remote-box {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: max-content;
	justify-content: space-between;
	align-items: center;
}

.remote-box-container {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 6px;
	background-color: var(--dark-paper);
	width: 100%;
	height: max-content;
	transition: height 200ms ease-in-out;
	overflow: hidden;

	&[data-restoring='true'] {
		height: 400px;
	}
}

.restore-dialogue {
	display: flex;
	flex-grow: 1;
	margin-top: 1rem;
	background-color: var(--wl-bottom-grey);
	border-radius: 6px;
	outline: 2px solid var(--wl-warning);
	padding: 1rem;
}

.backup-text {
	&[data-complete='true'] {
		color: #00ff00
	}

	&[data-failed='true'] {
		color: #ff0000
	}
}

.backup-stage-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 8px;
	outline: 1px solid var(--wl-outline);
	max-width: 100%;
	padding: 8px;
	background-color: var(--wl-barely-visible);
	overflow: hidden;
	flex-grow: 1;
	border-radius: 6px;

	&[data-complete='true'] {
		background-color: #00aa00;
		outline: 0px solid;
	}

	&[data-failed='true'] {
		background-color: red;
		outline: 0px solid;
	}
}
