.media-thumbnail {
    height: 100%;
    width: 100%;
    transition: all 0.2s ease-in-out;
    transform-origin: center center;
    object-fit: cover;
    user-select: none;
}

.media-fullres {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    user-select: none;
}

.media-meta-preview {
    height: 100%;
    width: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    /* transform: translateY(-100%); */
}

.meta-icon {
    color: white;
    background-color: #00000055;
    margin: 5px;
    border-radius: 4px;
}

.no-scrollbars {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
        width: 1px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}

.no-scrollbars::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.photo-container {
    display: flex;
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* transition: all 0.2s ease-in-out; */
}

.weblens-menu {
    max-width: 300px;
    border: 0;
    box-shadow: 1px 1px 1px 1px black;
}

.weblens-button {
    margin: 4px;
    border-radius: 4px;
    height: 55px;
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    outline-color: #4444ff00;
    transition: all 0.1s;
    box-shadow: 0 0 10px 2px #00000044;
}

.weblens-button:where([data-subtle='false']) {
    background-color: #4444ff;
}

.weblens-button:where([data-success='true']) {
    background-color: #00b123;
    outline: none;
    cursor: default;
    pointer-events: none;
}

.weblens-button:where([data-success='true']):hover {
    background-color: #00b123;
    outline: none;
    cursor: default;
    pointer-events: none;
}

.weblens-button:where([data-fail='true']) {
    background-color: #ff3333;
    outline: none;
    cursor: default;
    pointer-events: none;
}

.weblens-button:where([data-fail='true']):hover {
    background-color: #ff3333;
    outline: none;
    cursor: default;
    pointer-events: none;
}

.weblens-button:where([data-danger='true']) {
    background-color: #ff3333;
    outline: none;
}

.weblens-button.weblens-button:where([data-danger='true']):hover {
    background-color: #521f22;
    outline: 1px solid #ff3333;
}

.weblens-button:hover:not([data-success='true']):not([data-fail='true']):not(
        [data-danger='true']
    ) {
    background-color: #1c1049;
    outline: 1px solid #4444ff;
}

.weblens-button:where([data-disabled='true']) {
    box-shadow: none;
    background-color: #ffffff11;
    pointer-events: none;
    cursor: default;
    color: #aaaaaa;
}

.weblens-toggle-button {
    margin: 4px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.1s;
    /* height: 100%; */
    width: 100%;
}

.weblens-toggle-button:where([data-toggled='true']) {
    font-weight: 600;
    background-color: #3600cc;
    outline-color: #00000000;
    color: white;
}

.weblens-toggle-button:where([data-toggled='false']) {
    font-weight: 400;
    color: #cfcfcf;
    background-color: #3600cc22;
    outline: 1px solid #3600ccaa;
}

.weblens-toggle-button:where([data-toggled='true'][data-repeat='true']):hover {
    background-color: #3600cccc;
}

.weblens-toggle-button:where([data-toggled='false']):hover {
    color: white;
    background-color: #3600cc01;
    outline: 1.9px solid #4444ff;
}

.weblens-toggle-button:where([data-disabled='true']) {
    box-shadow: none;
    background-color: #ffffff11;
    pointer-events: none;
    cursor: default;
    color: #aaaaaa;
    outline: 0;
}

.key-display {
    padding: 4px !important;
    width: max-content;
    border-radius: 4px;
    box-shadow: 0 0 10px 1px #00000055;
    background-color: #111111;
    margin: 4px !important;
    line-height: 100% !important;
}

.key-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* line-height: 100% !important; */
}

.settings-menu-container {
    z-index: 99;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #00000077;
    backdrop-filter: blur(4px);
}

.settings-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: max-content;
    overflow-y: scroll;
    background-color: #111418;
    box-shadow: 0 0 10px 2px #00000044;
}

.weblens-input {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    border-radius: 4px;
    background-color: #222222;
    box-shadow: 0 0 10px 2px #00000044;

    padding: 4px;
    padding-left: 16px;
    width: 100%;
    margin: 4px;
    color: white;
}

.menu-tab:where([data-active='true']) {
    background-color: #4444ff;
}

.weblens-dropdown-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    user-select: none;
    color: white;
}

.weblens-dropdown-input-drop {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 6px;
    height: max-content;
    max-height: 600px;
    overflow-y: scroll;
    user-select: none;
    color: white;
    background-color: #222222;
    border-radius: 4px;
    z-index: 2;
    width: 200px;
    margin-left: -35px;
    margin-top: 5px;
    gap: 4px;
    box-shadow: 0 0 10px 2px #00000044;
}

.weblens-dropdown-input-item {
    padding: 4px;
    border-radius: 4px;
    height: max-content;
    user-select: none;
    color: white;
    background-color: #222222;
    cursor: pointer;
}

.weblens-dropdown-input-item:where([data-selected='true']) {
    background-color: #4444ff;
}

.weblens-dropdown-input-item:hover:where([data-selected='false']) {
    background-color: #333333;
}

.weblens-dropdown-text {
    font-size: 20px;
    max-width: 100%;
    line-height: 28px;
    user-select: none;
    text-wrap: nowrap;
    color: white;
}
