$main-accent: #3636ca;
$main-accent-transparent: #3636ca00;

$background: #111418;
$dark-paper: #1c1049;
$dark-paper-transparent: #1c104900;
$light-paper: #381eaa;
$light-paper-transparent: #381eaa00;

$bottom-grey: #121212;

$soft-shadow: 2px 2px 12px #000000aa;
$soft-shadow-off: 2px 2px 12px #00000000;

$hard-shadow: 4px 4px 4px #000000aa;
$hard-shadow-off: 4px 4px 4px #00000000;

