// Colors //

$main-accent: #3636ca;
$main-accent-transparent: #3636ca00;

$main-text: light-dark(#000000, #ffffff);
$main-text-flipped: light-dark(#ffffff, #000000);

$item-grey: light-dark(#dddddd, #222222);
$item-focus: light-dark(#bbbbbb, #444444);

$theme-color: #3600cc;
$theme-color-transparent: #3600cc00;

$theme-dull: #1c1049;
$theme-bright: #2549ff;

$theme-outline: light-dark($main-accent, #4444ff);
$theme-outline-transparent: light-dark($main-accent-transparent, #4444ff00);

$background: light-dark(#fafafa, #111418);
$background-transparent: light-dark(#eeeeee00, #11141800);
$dark-paper-transparent: light-dark(#4b2fb900, #1c104900);
$light-paper: light-dark(#240f77, #381eaa);
$light-paper-transparent: light-dark(#240f7700, #381eaa00);

$floating-grey: light-dark(#161517, #222222);
$bottom-grey: light-dark(#f0f0f0, #121212);

// TODO
$disabled-grey-text: light-dark(#666666, #666666);
$disabled-grey: #313171;

$soft-shadow: 2px 2px 12px #000000aa;
$soft-shadow-off: 2px 2px 12px #00000000;

$hard-shadow: 0.25em 0.25em 1px #000000aa;
$hard-shadow-off: 0 0 0px #000000aa;


// var(--wl-danger-subtle): light-dark(#d96c74, #521f22);

$warning: #fad30b;

// Components //
:root {
    box-sizing: border-box;
    /* Default color scheme */
    color-scheme: light;
    --wl-theme-color: #3600cc;
    // --wl-theme-color-bright: #408ae0;
    --wl-theme-color-bright: #7c4dff;
    --wl-theme-rgb: 54, 0, 204;
    // --wl-theme-color: #3636ca;
    --dark-paper: light-dark(#7274d6, #1c1049);
    --wl-text-color: light-dark(#000000, #ffffff);
    --wl-text-color-dull: light-dark(#333333, #cccccc);
    --wl-text-color-inverted: light-dark(#ffffff, #000000);
    --wl-barely-visible: light-dark(#dadae3, #181a1f);
    --wl-card-background: light-dark(#cccccc, #222222);
    --wl-danger: #ff4444;
    --wl-danger-subtle: light-dark(#ffa6ac, #521f22);
    --wl-background: light-dark(#fafafa, #111418);
    --wl-outline: light-dark(var(--wl-theme-color), #4444ff);
    --wl-outline-subtle: light-dark(#222222, #555555);

    --wl-border-radius: 6px;
}

/* Dark theme styles */
:root.dark {
    color-scheme: dark;
}

body {
    width: 100vw;
    position: fixed;
    line-height: 1.5;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

a {
    color: white;
    text-decoration: none;
    padding: 0.10em;
    border-radius: 0.20em;
    background-color: var(--wl-theme-color);
    transition: background-color 150ms ease-in-out;

    &:hover {
        background-color: var(--dark-paper);
    }
}

input,
select,
textarea {
    color: var(--wl-text-color);
}

.background-icon {
    color: $main-text;
    flex-shrink: 0;
}

.theme-background {
    background-color: $background;
}

.theme-text-flipped {
    color: $main-text-flipped;
}

.theme-text-dark-bg {
    color: white;
}

.theme-outline {
    outline: 2px solid $floating-grey;
}

.theme-dark-paper {
    background-color: var(--dark-paper);
}
