// Colors //

$item-focus: light-dark(#bbbbbb, #444444);

$theme-outline: light-dark(var(--wl-main-accent), #4444ff);
$theme-outline-transparent: light-dark(var(--wl-main-accent-transparent), #4444ff00);

$background-transparent: light-dark(#eeeeee00, #11141800);
$dark-paper-transparent: light-dark(#4b2fb900, #1c104900);
$light-paper: light-dark(#240f77, #381eaa);
$light-paper-transparent: light-dark(#240f7700, #381eaa00);

$hard-shadow: 0.25em 0.25em 1px #000000aa;
$hard-shadow-off: 0 0 0px #000000aa;

// Components //
:root {
	/* Colors */
	--wl-color-amethyst-50: #ebe6fa;
	--wl-color-amethyst-100: #d7ccf5;
	--wl-color-amethyst-200: #af99eb;
	--wl-color-amethyst-300: #8666e0;
	--wl-color-amethyst-400: #5e33d6;
	--wl-color-amethyst-500: #4a1ad1;
	--wl-color-amethyst-600: #3600cc;
	--wl-color-amethyst-700: #3100b8;
	--wl-color-amethyst-800: #2b00a3;
	--wl-color-amethyst-900: #26008f;

	--wl-color-bluenova-50: #e5e5ff;
	--wl-color-bluenova-100: #ccccff;
	--wl-color-bluenova-200: #9999ff;
	--wl-color-bluenova-300: #6666ff;
	--wl-color-bluenova-400: #3333ff;
	--wl-color-bluenova-500: #1a1aff;
	--wl-color-bluenova-600: #0000ff;
	--wl-color-bluenova-700: #0000e5;
	--wl-color-bluenova-800: #0000cc;
	--wl-color-bluenova-900: #0000b3;

	--wl-color-graphite-50: #f5f5f5;
	--wl-color-graphite-100: #e0e0e0;
	--wl-color-graphite-200: #cccccc;
	--wl-color-graphite-300: #b3b3b3;
	--wl-color-graphite-400: #999999;
	--wl-color-graphite-500: #808080;
	--wl-color-graphite-600: #666666;
	--wl-color-graphite-700: #4d4d4d;
	--wl-color-graphite-800: #333333;
	--wl-color-graphite-900: #1a1a1a;

	--wl-text-color-primary: light-dark(#000000, #ffffff);
	--wl-text-color-secondary: light-dark(var(--wl-color-graphite-900), var(--wl-color-graphite-100));

	--wl-border-color-primary: light-dark(var(--wl-color-graphite-200), var(--wl-color-graphite-800));


	box-sizing: border-box;

	/* Default color scheme */
	color-scheme: light;
	--wl-theme-color: #3600cc;
	--wl-theme-color-transparent: #3600cc00;

	--wl-main-accent: #3636ca;
	--wl-main-accent-transparent: #3636ca00;

	--wl-theme-color-bright: #7c4dff;
	--wl-theme-rgb: 54, 0, 204;

	--dark-paper: light-dark(#7274d6, #1c1049);
	--wl-floating-grey: light-dark(#161517, #222222);
	--wl-bottom-grey: light-dark(#f0f0f0, #121212);
	--wl-disabled-grey: light-dark(#c0c0f0, #313171);

	--wl-text-color: light-dark(#000000, #ffffff);
	--wl-text-color-dull: light-dark(#555555, #bbbbbb);
	--wl-text-color-inverted: light-dark(#ffffff, #000000);

	--wl-barely-visible: light-dark(#dadae3, #181a1f);
	--wl-card-background: light-dark(#cccccc, #222222);
	--wl-danger: #ff4444;
	--wl-danger-subtle: light-dark(#ffa6ac, #521f22);
	--wl-warning: #fad30b;

	--wl-background: light-dark(#fafafa, #111418);

	--wl-outline: light-dark(var(--wl-theme-color), #4444ff);
	--wl-outline-subtle: light-dark(#111111, #333333);

	--wl-theme-outline: light-dark(var(--wl-main-accent), #4444ff);
	--wl-theme-outline-transparent: light-dark(var(--wl-main-accent-transparent), #4444ff00);

	--wl-soft-shadow: 2px 2px 12px #000000aa;
	--wl-soft-shadow-off: 2px 2px 12px #00000000;

	--wl-hard-shadow: 0.25em 0.25em 1px #000000aa;
	--wl-hard-shadow-off: 0 0 0px #000000aa;

	--wl-floating-grey: light-dark(#161517, #222222);
	--wl-item-grey: light-dark(#dddddd, #222222);

	--wl-error-background: light-dark(#ff000055, #ff000055);

	--wl-border-radius: 6px;
}

/* Dark theme styles */
:root.dark {
	color-scheme: dark;
}
