// Colors //

:root {
	--wl-color-valid: #00b123;

	--wl-theme-color-primary: rgb(var(--wl-color-amethyst-600));
	--wl-theme-color-secondary: rgb(var(--wl-color-bluenova-200));
	--wl-theme-color-tertiary: rgb(var(--wl-color-amethyst-1200));

	--wl-text-color-near-white: rgb(var(--wl-color-aurora-200));
	--wl-text-color-near-black: rgb(var(--wl-color-abyss-500));
	--wl-color-nearly-invisible: light-dark(var(--wl-text-color-near-white), var(--wl-text-color-near-black));

	--wl-text-color-primary: light-dark(rgb(var(--wl-color-abyss-200)), var(--wl-text-color-near-white));
	--wl-text-color-secondary: light-dark(rgb(var(--wl-color-aurora-600)), rgb(var(--wl-color-aurora-400)));
	--wl-text-color-tertiary: light-dark(rgb(var(--wl-color-aurora-400)), rgb(var(--wl-color-aurora-600)));

	--wl-border-color-primary: light-dark(rgb(var(--wl-color-aurora-400)), rgb(var(--wl-color-abyss-50)));
	--wl-border-color-secondary: light-dark(rgb(var(--wl-color-aurora-700)), rgb(var(--wl-color-aurora-600)));
	--wl-border-color-tertiary: light-dark(rgb(var(--wl-color-aurora-500)), rgb(var(--wl-color-abyss-500)));

	--wl-background-color-primary: light-dark(rgb(var(--wl-color-aurora-100)), rgb(var(--wl-color-abyss-600)));
	--wl-background-color-secondary: light-dark(rgb(var(--wl-color-aurora-300)), rgb(var(--wl-color-abyss-200)));
	--wl-background-color-tertiary: light-dark(rgb(var(--wl-color-aurora-400)), rgb(var(--wl-color-abyss-50)));

	--wl-card-background-color-primary: light-dark(rgb(var(--wl-color-aurora-300)), rgb(var(--wl-color-abyss-200)));
	--wl-card-background-color-selected: light-dark(rgb(var(--wl-color-bluenova-200)), rgb(var(--wl-color-amethyst-900)));

	--wl-progress-bar-color-primary: var(--wl-theme-color-primary);
	--wl-progress-bar-color-secondary: var(--wl-theme-color-secondary);

	--wl-border-radius: 0.25rem;
	--wl-border-radius-lg: 0.50rem;
	--wl-shadow-intensity: 4px;
	--wl-shadow-color: var(--wl-color-aurora-500);

	--wl-hard-shadow: 0.25em 0.25em 1px rgb(var(--wl-color-abyss-900));
	--wl-soft-shadow: 0.15em 0.15em var(--wl-shadow-intensity) rgb(var(--wl-shadow-color));
	--wl-soft-shadow-hidden: 0 0 0px rgb(var(--wl-shadow-color));

	--wl-transition-func: cubic-bezier(0.4, 0, 0.2, 1);
	--wl-transition-duration: 150ms;

	// Button
	--wl-button-color-primary: var(--wl-theme-color-primary);
	--wl-button-color-primary-hover: var(--wl-theme-color-tertiary);

	--wl-button-color-danger: rgb(255, 68, 68);
	--wl-button-color-danger-hover: rgb(122, 31, 31);

	--wl-button-color-disabled: light-dark(rgb(var(--wl-color-aurora-400)), rgb(var(--wl-color-aurora-700)));
	--wl-button-text-color-disabled: var(--wl-text-color-secondary);

	--wl-button-text-color-primary: rgb(var(--wl-text-color-near-white));


	--wl-padding-sm: 0.25rem;


	box-sizing: border-box;

	/* Default color scheme */
	color-scheme: light;
}

/* Dark theme styles */
:root.dark {
	color-scheme: dark;
	--wl-shadow-intensity: 2px;
	--wl-shadow-color: rgb(var(--wl-color-abyss-900));
}
