@import "./theme.scss";

.weblens-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4px;
    flex-shrink: 1;
    transition: max-width 250ms ease-in-out;

    &[data-fill-width='true'] {
        flex-grow: 1;
        width: 100%;
    }

    &[data-text-on-hover='true'] {
        max-width: 40px;

        &:hover {
            max-width: 1000px;
        }
    }

}

.weblens-button {
    display: flex;
    flex-shrink: 1;
    margin: 4px;
    border-radius: 4px;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    background-color: #3600cc;
    outline-color: #4444ff00;
    transition: all 150ms ease-in-out, width 250ms ease-in-out;
    box-shadow: $hard-shadow-off;


    &:hover {
        box-shadow: $hard-shadow;
        background-color: $dark-paper;
        outline: 1px solid #4444ff;
        transform: translateY(-1px);
    }

    &[data-subtle='true'] {
        background-color: $dark-paper;
    }

    &[data-success='true'] {
        background-color: #00b123;
        outline: none;
        cursor: default;
        pointer-events: none;
        box-shadow: $hard-shadow;
    }

    &[data-disabled='true'] {
        box-shadow: $hard-shadow-off;
        background-color: $disabled-grey;
        pointer-events: none;
        cursor: default;
        color: $disabled-grey-text;
    }

    &[data-fail='true'] {
        background-color: #ff3333;
        cursor: default;
        pointer-events: none;

    }

    &[data-danger='true'] {
        background-color: #ff3333;
        outline: 1px solid #ff444400;

        &[data-subtle='true'] {
            background-color: #521f22;
        }

        &:hover {
            background-color: #521f22;
            outline: 1px solid #ff4444;
        }

        &[data-disabled='true'] {
            background-color: #521f22;
            outline: 1px solid #ff333300;
        }
    }

    &[data-super='true']:hover {
        animation: rainbow 15s ease-in-out infinite;
        background: linear-gradient(
            90deg,
            #ff2400,
            #e81d1d,
            #e8b71d,
            #e3e81d,
            #1de840,
            #1ddde8,
            #2b1de8,
            #dd00f3,
            #dd00f3
        );
        background-size: 2000% 100%;
        outline: 1px solid #00000000;
        box-shadow: $hard-shadow;
    }

}

@keyframes rainbow {
    0% {
        background-position: 75% 100%;
    }
    12.5% {
        background-position: 100% 100%;
    }
    62.5% {
        background-position: 0 100%;
    }
    100% {
        background-position: 75% 100%;
    }
}

// Toggle //

.weblens-toggle-button {
    display: flex;
    flex-shrink: 1;
    margin: 4px;
    border-radius: 4px;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;

    background-color: $dark-paper;
    font-weight: 400;
    color: #efefef;
    outline: 1px solid #3600cc;

    transition: all 150ms ease-in-out, width 500ms ease-in-out;

    &:hover {
        box-shadow: $hard-shadow;
        transform: translateY(-1px);
    }

    &[data-toggled='true'] {
        font-weight: 600;
        background-color: #3600cc;
        outline: 1px solid #3600cc00;
        color: white;

        &[data-repeat='true']:hover {
            background-color: #3600cccc;
        }

        &[data-repeat='false'] {
            cursor: default;
            pointer-events: none;
        }
    }

    &[data-toggled='false'] {
        &:hover {
            color: white;
            outline: 1px solid #4444ff;
        }
    }

    &[data-disabled='true'] {
        background-color: #212427;
        box-shadow: none;
        pointer-events: none;
        cursor: default;
        color: #aaaaaa;
        outline: 1px solid #4444ff00;
    }
}

.button-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    //min-width: 40px;
    flex-grow: 0;
    opacity: 100%;
    overflow: hidden;
    
    transition: opacity 200ms ease-in-out;

    &[data-center='true'] {
        justify-content: center;
    }

    &[data-hidden='true'] {
        pointer-events: none;
        opacity: 0;
    }
}

.button-text-box {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 100%;
    justify-content: center;
    text-wrap: nowrap;
    align-items: flex-start;
    transition: opacity 150ms ease-in-out;
    opacity: 100%;

    &[data-center='true'] {
        align-items: center;
    }

    &[data-show-text='false'] {
        opacity: 0;
    }
}

.button-text {
    user-select: none;
    width: max-content;
    height: max-content;
    flex-shrink: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;

    //transition: opacity 150ms ease-in-out;

    &[data-show-text='true'] {
        opacity: 100%;
        pointer-events: inherit;
        display: block;
    }

}

.weblens-toggle-button:hover .button-text {
    width: max-content;
    max-width: 4000px;
}

.button-icon-box {
    display: none;
    flex-shrink: 0;
    height: max-content;
    max-height: max-content;
    width: max-content;
    align-items: center;
    justify-content: center;

    &[data-icon-side='right'] {
        justify-content: right;
    }

    &[data-has-icon='true'] {
        display: flex;

        &[data-has-text='true'] {
            margin-left: 4px;
            margin-right: 4px;
        }
    }
}

.button-icon {
    height: 100%;
    width: 100%;
    color: white;
}

.weblens-button[data-disabled='true'] .button-icon {
    color: $disabled-grey-text;
}

.weblens-toggle-button[data-disabled='true'] .button-icon {
    color: $disabled-grey-text;
}