@import "theme";

.weblens-progress-container {
    display: flex;
    align-items: center;
    pointer-events: all;
}

.weblens-progress {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $bottom-grey;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 2px 2px 2px #000000aa;
    width: 100%;
    height: 100%;
    max-height: 100%;
    pointer-events: all;
    flex-grow: 0;
    transition: height 50ms ease-in-out;

    [data-seekable='true'] & {
        height: 25%;
        :hover > & {
            height: 60%;
        }
        [data-scrubbing='true'] & {
            height: 60%;
        }
    }

    &[data-loading='true'] {
        display: grid;
        place-content: center;
        --border-angle: 0turn;
        --main-bg: conic-gradient(
                        from var(--border-angle),
                        #114,
                        #114 0%,
                        #114 100%,
                        #114 0%
        );

        border: solid 2px transparent;
        --gradient-border: conic-gradient(from var(--border-angle), transparent 50%, #44f, rgb(123, 0, 0) 99%, transparent);

        background: var(--main-bg) padding-box,
        var(--gradient-border) border-box,
        var(--main-bg) border-box;
        background-position: center center;

        animation: bg-spin 4s linear infinite;
        @keyframes bg-spin {
            to {
                --border-angle: 1turn;
            }
        }
    }

    &[data-failure='true'] {
        background-color: red;
    }

    &[data-disabled='true'] {
        cursor: default;
        pointer-events: none;
        box-shadow: 0px 0px 0px #00001100;
    }
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

.weblens-progress-bar {
    position: relative;
    pointer-events: none;
    background-color: $main-accent;
    box-shadow: $soft-shadow;
    height: 100%;
    z-index: 2;
    pointer-events: none;

    [data-seekable='true'] & {
        transition: width 100ms ease-in-out;
    }

    &[data-secondary='true'] {
        transition: width 100ms ease-in-out;
        position: absolute;
        z-index: 1;
        background-color: $dark-paper;
    }

    &[data-complete='true'] {
        background-color: #22bb33;
    }

    [data-disabled='true'] & {
        background-color: $disabled-grey;
    }
}

.slider-handle {
    height: 100%;
    max-width: 15px;
    border-radius: 4px;
    flex-shrink: 0;
    background-color: azure;
    z-index: 3;
    cursor: pointer;
    position: absolute;
    transform: scale(0) translateX(-4px);
    transform-origin: 4px;
    pointer-events: none;
    transition: transform 100ms cubic-bezier(.4, 0, 1, 1);

    :hover > & {
        transform: scale(1) translateX(-4px);
    }
    [data-scrubbing='true'] & {
        transform: scale(1) translateX(-4px);
    }
}