@import "theme";

.weblens-progress {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $bottom-grey;
    border-radius: 3px;
    //overflow: hidden;
    box-shadow: 4px 4px 1px #001;
    width: 100%;
    height: 100%;
    pointer-events: all;

    &[data-failed='true'] {
        background-color: red;
    }

    &[data-loading='true'] {
        display: grid;
        place-content: center;
        --border-angle: 0turn;
        --main-bg: conic-gradient(
            from var(--border-angle),
            #114,
            #114 0%,
            #114 100%,
            #114 0%
        );

        border: solid 2px transparent;
        --gradient-border: conic-gradient(from var(--border-angle), transparent 50%, #44f, rgb(123, 0, 0) 99%, transparent);

        background:
            var(--main-bg) padding-box,
            var(--gradient-border) border-box,
            var(--main-bg) border-box;
        background-position: center center;

        animation: bg-spin 4s linear infinite;
        @keyframes bg-spin {
          to {
            --border-angle: 1turn;
          }
        }
    }

    &[data-disabled='true'] {
        cursor: default;
        pointer-events: none;
        box-shadow: 0px 0px 0px #00001100;
    }
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

.weblens-progress-bar {
    position: relative;
    pointer-events: none;
    background-color: $main-accent;
    box-shadow: $soft-shadow;
    height: 100%;
    z-index: 2;
    transition: width 50ms ease-in-out, height 200ms ease-in-out, background-color 200ms ease-in-out;

    &[data-secondary='true'] {
        position: absolute;
        z-index: 1;
        background-color: $dark-paper;
        transform: translateY(-100%);
    }

    &[data-complete='true'] {
        background-color: #22bb33;
    }

    [data-disabled='true'] & {
        background-color: $disabled-grey;
    }
}

.slider-handle {

    height: 104%;
    width: 10px;
    border-radius: 4px;
    flex-shrink: 0;
    background-color: azure;
    z-index: 2;
    cursor: pointer;
    transform: translateX(-4px);

    transition: 200ms transform ease-in-out;

    &:hover {
        transform: scale(1.10) translateX(-4px);
    }
}