.settings-menu {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-color: var(--color-background-primary);
}

.sidebar {
	grid-column: 1;
	height: 100%;
	width: 20rem;
	flex-shrink: 0;
	padding-right: 4rem;
}

.sidebar li {
	list-style: none;
	display: flex;
}


.sidebar li a {
	width: 100%;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	font-size: 0.875rem;
	background-color: #ffffff00;
	padding: 0.5rem;
	margin: 0.1rem;
	display: grid;
	grid-template-columns: min-content min-content minmax(0, auto) min-content min-content;
	grid-template-rows: min-content;
	align-items: center;
	border-radius: var(--wl-border-radius);

	&[data-active='true'] {
		background-color: var(--color-background-secondary);
		font-weight: 500;
	}

	&:hover {
		background-color: var(--color-background-secondary);
	}
}

.sidebar span {
	font-weight: inherit;
}

.tab-icon {
	display: flex;
	width: 1.25rem;
	height: 1.25rem;
	align-items: center;
	margin-right: 0.35rem
}

.settings-tabs-group {
	color: var(--color-text-dull);
	border-top: 0.0625rem solid var(--color-border-primary);
	margin-top: 0.5rem;
	padding: 0.5rem;
}

.settings-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 0.0625rem solid var(--color-border-primary)
}

.settings-header h3 {
	font-size: 1.5rem;
}

.settings-section {
	position: relative;
	margin-bottom: 3rem;
}

.settings-content-row {
	display: flex;
	width: 100%;
	position: relative;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-radius: var(--wl-border-radius);
	background-color: var(--wl-item-grey);
	height: max-content;
	padding: 0.25rem 1rem;
	margin: 0.15rem 0;
}
