{
    "trailingComma": "es5",
    "useTabs": false,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,

    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}

