@import "../../../components/theme.module";

.sidebar-container {
    display: flex;
    height: 100%;
    max-height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 10px 20px 5px 20px;
    background-color: var(--wl-background);
    z-index: 1;

    &[data-mini='true'] {
        padding: 10px 0px 5px 5px;
    }
}

.sidebar-upper-half {
    display: flex;
    height: max-content;
    max-height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.dropbox {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #00000077;
    backdrop-filter: blur(3px);
    outline: 1px solid white;
    border-radius: 4px;
    z-index: 100;
}

.dropspot-wrapper {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 100;
    padding: 4px;
    pointer-events: none;
}

.wormhole-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-drop-cover {
    position: absolute;
    background-color: #77777744;
    transform: translateY(-100%);
    border-radius: 8px;
}

.transfer-info-wrapper {
    display: flex;
    justify-content: center;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    bottom: 15px;
    left: 0;
    position: absolute;
    height: max-content;
    pointer-events: none;
    padding: 8px;
}

.transfer-info-box {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: max-content;
    border-radius: 4px;
    padding: 8px;
    gap: 4px;
    max-width: 100%;

    background-color: $bottom-grey;
    outline: 1px solid $main-accent;
}


.fb-share-item-label {
    flex: 0;
}

.album-preview-row {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    width: 100%;
    height: 75px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
    /* background-color: #222222; */
    justify-content: space-between;
}

.album-preview-row:hover {
    background-color: #444444;
}

.album-preview-row-disabled {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    width: 100%;
    height: 75px;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    margin-bottom: 5px;
    justify-content: space-between;

    pointer-events: none;
    cursor: default;
}

.album-preview-loading {
    height: 75px;
    width: 100%;
    position: absolute;
    cursor: default;
    background-color: #77777777;
    backdrop-filter: blur(1px);
    margin-left: -5px;
    margin-top: -5px;
    border-radius: 5px;
    overflow: hidden;
}

.media-placeholder {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    justify-content: center;
    align-items: center;
    /* background-color: #222222; */
}

.album-search {
    background-color: #444444;
}

.album-search::placeholder {
    color: #cccccc;
}

.task-progress-box {
    margin-top: 25px;
    height: max-content;
    width: 99%;
    margin: 0.5%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--wl-barely-visible);
    border-radius: 6px;
    outline: 1px solid var(--wl-outline);
}

.file-info-pane {
    display: flex;
    flex-direction: row;

    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
    width: max-content;

    height: 100%;

    transition: 200ms width ease-in-out;

    &[data-resizing='true'] {
        transition: 0ms width;
    }

    &[data-open='false'] {
        padding-left: 20px;
    }
}

@media screen and (max-width: 600px) {
    .file-info-pane {
        display: none;
        width: 0;
        opacity: 0;
    }
}

.file-info-content {
    display: flex;
    padding: 8px;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.resize-bar-wrapper {
    display: flex;
    justify-content: center;
    width: 8px;
    z-index: 1;
    background-color: var(--wl-background);
    padding-left: 6px;
    padding-right: 6px;
    height: 100%;
    flex-shrink: 0;
    cursor: grab;
}

.file-info-pane[data-open='false'] .resize-bar-wrapper {
    opacity: 0%;
}

.open-arrow-container {
    position: absolute;
    display: flex;
    align-items: center;
    height: max-content;
    z-index: 10;
    transform: translateX(-20px);
}

.file-info-pane[data-open='true'] .open-arrow-container {
    transform: translateX(-8px);
    //right: -20px;
}


.resize-bar {
    width: 2px;
    z-index: 1;
    height: 100%;
    flex-shrink: 0;
    background-color: #222222;
    transition: background-color 150ms ease-in-out;
    transition-delay: 0ms;

    :hover>& {
        transition-delay: 100ms;
        background-color: $main-accent;
    }
}

.login-required-background {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: #11141866;
    border-radius: 10px;
    top: 0;
    left: 0;
    z-index: 90;
    justify-content: center;
    align-items: center;
}

.file-info-icon {
    cursor: pointer;
    z-index: 1;
    padding: 8px;
    height: 36px;
    width: 36px;
    border-radius: 8px;
    background-color: #222222;
    box-shadow: 0 0 10px 2px #00000044;
    color: white;
}

.file-type-block {
    transition: 200ms opacity ease-in-out;
}

.leaf-text-back {
    filter: drop-shadow(3px 3px 2px #000000bb);
    transition: fill 190ms ease-in-out;
}

.leaf-text {
    transition: opacity 200ms ease-in-out;
}

.icon-noshrink {
    height: 20px;
    width: 20px;
    flex-shrink: 0;
}

.get-started-box {
    width: 125px;
    color: #cccccc;
    cursor: pointer;
    padding: 10px;
    font-weight: 400;
    stroke-width: 1.5;
    transition: all 100ms;
}

.get-started-box:hover {
    color: white;
    font-weight: 600;
    stroke-width: 2;
}

.past-time-box {
    display: flex;
    flex-direction: row;
    width: max-content;
    height: max-content;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 16px;
    background-color: var(--dark-paper);
    border-radius: 6px;
    z-index: 1;
    padding: 8px;
    margin-left: 12px;
    outline: 1px solid $main-accent;
    cursor: pointer;
}
