@import "../../../components/theme";

.file-history-menu {
    position: absolute;
    height: 400px;
    width: 600px;
    background-color: #222222;
    border-radius: 6px;
}

.snapshot-menu {
    background-color: #222222;
    margin-right: 10px;
    border-radius: 6px;
    height: 42px;
    transition: 200ms width ease-in-out;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.snapshot-menu-closed {
    width: 42px;
    cursor: pointer;
}

.snapshot-menu-open {
    width: 300px;
    flex-shrink: 0;
    border-radius: 4px 4px 0 0;
}

.snapshot-menu-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #222222;
    border-radius: 0 0 4px 4px;
    padding: 10px;
    /* margin-top: 315px; */
    top: 114px;
    max-height: 400px;
    overflow-y: scroll;
    width: 300px;
    gap: 2px;
    z-index: 3;
}

.snapshot-row {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    cursor: pointer;
    border-radius: 2px;
    padding: 5px;
}

.snapshot-row:hover {
    background-color: #333333;
}

.file-history-summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 0;
    height: 50px;
    justify-content: space-between;
    width: 100%;
}

.file-history-accordion-header {
    display: flex;
    flex-direction: column;
    outline: 1px solid #374151;
    border-radius: 0.25rem;
    width: 100%;
    flex-grow: 0;
    overflow: hidden;
    max-height: 500px;

    transition: height 150ms ease-in-out;
}

.file-history-detail-accordion {
    width: 100%;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    height: 0;
    flex-grow: 1;

    &[data-open='true'] {
        height: 100%;
    }
}

.file-history-detail {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 4px;
    height: max-content;
    max-height: max-content;
    width: 100%;
    padding: 4px;
    flex-grow: 0;
}

.history-detail-action-row {
    display: flex;
    position: relative;
    height: 32px;
    max-height: 32px;
    padding: 4px;
    width: max-content;
    max-width: 100%;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 8px;
}

.rollback-bar {
    position: absolute;
    height: 4px;
    width: 95%;
    background-color: $disabled-grey;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 150ms ease-in-out;
    z-index: 4;

    :hover>& {
        background-color: $main-accent;
    }

    &[data-moving='true'] {
        background-color: $main-accent;
    }
}

.rollback-bar-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 100%;
    cursor: pointer;
    transition: top 100ms;
    z-index: 4;
    flex-shrink: 0;
}

.event-caret {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    transition: background-color 150ms ease-in-out;
    color: $main-text;

    :hover>& {
        background-color: $item-grey;
    }
}
