@import "../../../components/theme.module";

.file-history-menu {
	position: absolute;
	height: 400px;
	width: 600px;
	background-color: #222222;
	border-radius: 6px;
}

.snapshot-menu {
	background-color: #222222;
	margin-right: 10px;
	border-radius: 6px;
	height: 42px;
	transition: 200ms width ease-in-out;
	flex-direction: row;
	display: flex;
	align-items: center;
}

.snapshot-menu-closed {
	width: 42px;
	cursor: pointer;
}

.snapshot-menu-open {
	width: 300px;
	flex-shrink: 0;
	border-radius: 4px 4px 0 0;
}

.snapshot-menu-dropdown {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: #222222;
	border-radius: 0 0 4px 4px;
	padding: 10px;
	/* margin-top: 315px; */
	top: 114px;
	max-height: 400px;
	overflow-y: scroll;
	width: 300px;
	gap: 2px;
	z-index: 3;
}

.snapshot-row {
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	/* justify-content: center; */
	cursor: pointer;
	border-radius: 2px;
	padding: 5px;
}

.snapshot-row:hover {
	background-color: #333333;
}

.file-history-summary {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 0;
	height: 50px;
	justify-content: space-between;
	width: 100%;
}

.file-history-accordion-header {
	display: flex;
	flex-direction: column;
	outline: 1px solid #374151;
	border-radius: 0.25rem;
	width: 100%;
	flex-grow: 0;
	overflow: hidden;
	max-height: 500px;

	transition: height 150ms ease-in-out;
}

.file-history-detail-accordion {
	width: 100%;
	display: flex;
	border-radius: 8px;
	flex-direction: column;
	height: 0;
	flex-grow: 1;
	padding-right: 1rem;
}

.file-history-detail {
	display: flex;
	flex-direction: column;
	gap: 4px;
	border-radius: 4px;
	height: max-content;
	max-height: 500px;
	width: 100%;
	padding: 8px;
	flex-grow: 0;
}

.history-detail-action-row {
	display: flex;
	position: relative;
	height: 32px;
	max-height: 32px;
	padding: 4px;
	width: 100%;
	min-width: 0;
	max-width: 100%;


	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	gap: 8px;
}

.rollback-bar-wrapper {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10px;
	width: 100%;
	cursor: pointer;
	transition: top 100ms;
	z-index: 2;
	flex-shrink: 0;
}

.event-caret {
	width: 20px;
	height: 20px;
	border-radius: 4px;
	transition: background-color 150ms ease-in-out;
	color: var(--wl-text-color);

	&:hover {
		background-color: var(--wl-main-accent);
	}
}

.path-text {
	color: var(--wl-text-color);
	align-items: center;
	user-select: none;
	font-weight: 600;
	font-size: 16px;
	text-wrap: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.file-action-text {
	color: var(--wl-text-color);
	user-select: none;
	font-weight: 500;
	font-size: 12px;
	text-wrap: nowrap;
	height: 100%;
	white-space: nowrap;
}

.history-event-row {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: max-content;
	justify-content: center;
	padding: 0.5rem;
	border-radius: 4px;
	align-items: center;

	&[data-resize='true'] {
		--wl-text-color: var(--wl-text-color-dull);
		color: var(--wl-text-color-dull);
	}
}

.history-row-content {
	display: flex;
	align-items: center;
	outline: 1px solid #374151;
	padding: 0.5rem;
	border-radius: 4px;
	width: 100%;
	justify-content: space-between;
	gap: 0.5rem;
	max-height: 48px;
	cursor: pointer;
	transition: background-color 150ms ease-in-out, outline-color 150ms ease-in-out;

	&:hover {
		background-color: #222;
	}

	&[data-now='true'] {
		outline: 1px dashed var(--wl-outline-subtle);
		max-height: 32px;
		justify-content: center
	}

	&[data-selected='true'] {
		outline-color: var(--wl-main-accent);
		outline-width: 2px;
		background-color: #00000000;
	}

	&[data-expandable='true'] {
		flex-direction: column;
		// justify-content: center;
		max-height: 100%;
	}
}

.size-change-divider {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;
	user-select: none;
	color: var(--wl-text-color);
}

.size-change-divider::before,
.size-change-divider::after {
	flex: 1;
	content: '';
	padding: 0.5px;
	background-color: var(--wl-text-color);
	margin: 3px;
}

.jump-here-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 32px;
	width: 8rem;
	background-color: var(--wl-card-background);
	cursor: pointer;
	border-radius: 4px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 150ms, background-color 150ms ease-in-out;

	&[data-open='true'] {
		pointer-events: all;
		opacity: 1;

		&:hover {
			background-color: var(--wl-main-accent);
		}
	}
}
