.upload-status-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    max-height: 30vh;

    // flex-grow: 1;
    justify-content: flex-end;

    z-index: 2;
    margin-top: 16px;
}
