name: Build Container

on:
  workflow_dispatch:
    inputs:
      build_tag:
        description: "Build Tag"
        required: false
        default: ""
        type: string
      do_release_build:
        description: "Release"
        required: false
        default: false
        type: boolean

  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          # Use the GITHUB_TOKEN secret provided by GitHub Actions
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: GoGoGadgetDocker
        run: |
          sudo docker login -u ${{ vars.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}

          if [[ -z "$BUILD_TAG" ]] && [[ $RELEASE_BUILD == true ]]; then
            echo "ERR BUILD_TAG must be specified when doing release build"
            exit 1
          elif [ -z "$BUILD_TAG" ] && [ "$GITHUB_REF" == "refs/heads/main" ]; then
            BUILD_TAG="amethyst-${{ github.run_number }}"
          elif [ -z "$BUILD_TAG" ]; then
            BUILD_TAG="dev-$(git rev-parse --short HEAD)"
          fi

          echo "Grab the new image at" >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          echo "ghcr.io/ethanrous/weblens:${BUILD_TAG}" >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY

          ./scripts/gogogadgetdocker.bash -p -s -t $BUILD_TAG
          exit $?
        env:
          BUILD_TAG: ${{ inputs.build_tag }}
          RELEASE_BUILD: ${{ inputs.do_release_build }}
          ENVIRON: ${{ inputs.deploy }}
