name: Build Container

on:
  workflow_dispatch:
    inputs:
      build_tag:
        description: 'Build Tag'
        required: false
        default: ""
        type: string
      do_release_build:
        description: 'Release'
        required: false
        default: false
        type: boolean
  push:
    branches: [ "main" ]

jobs:
  build-container:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.11.0
          cache: 'npm'
          cache-dependency-path: ui/package-lock.json

      - run: cd ui && npm ci

      # - name: Install Deps
      #   run: |
      #     wget -qO- https://www.mongodb.org/static/pgp/server-7.0.asc | sudo tee /etc/apt/trusted.gpg.d/server-7.0.asc
      #     echo "deb [ arch=amd64,arm64 ] https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-7.0.list
      #     sudo apt-get update
      #     sudo apt-get install -y \
      #     mongodb-mongosh \
      #     libvips-dev \
      #     exiftool \
      #     nodejs \
      #     npm \
      #     autoconf pkg-config build-essential curl libpng-dev libjpeg-dev libwebp-dev libraw-dev libheif-dev libvips ffmpeg darktable ghostscript
      #
      #     export IMAGEMAGICK_VERSION=7.1.1-41
      #
      #     wget https://github.com/ImageMagick/ImageMagick/archive/refs/tags/${IMAGEMAGICK_VERSION}.tar.gz && \
      #         tar xzf ${IMAGEMAGICK_VERSION}.tar.gz && \
      #         rm ${IMAGEMAGICK_VERSION}.tar.gz
      #
      #     sh ./ImageMagick-${IMAGEMAGICK_VERSION}/configure \
      #             --without-magick-plus-plus \
      #             --without-perl \
      #             --disable-openmp \
      #             --with-gvc=no \
      #             --disable-docs && \
      #         make -j$(nproc) && sudo make install && sudo ldconfig /usr/local/lib/
      #
      # - name: Start MongoDB
      #   uses: supercharge/mongodb-github-action@1.11.0
      #   with:
      #     mongodb-version: '7.0'
      #
      - name: GoGoGadgetDocker
        run: |
          sudo docker login -u ${{ vars.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
          if [ -z "$BUILD_TAG" ] && [ $RELEASE_BUILD == true ]; then
            echo "ERR BUILD_TAG must be specified when doing release build"
            exit 1
          elif [ -z "$BUILD_TAG" ] && [ "$GITHUB_REF" == "refs/heads/main" ]; then
            BUILD_TAG="amethyst-${{ github.run_number }}"
          elif [ -z "$BUILD_TAG" ]; then
            BUILD_TAG="dev-$(git rev-parse --short HEAD)"
          fi
          
          echo "Grab the new container at" >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          echo "docker.io/ethrous/weblens:$BUILD_TAG-amd64" >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          
          ./scripts/gogogadgetdocker.bash -p -s -t $BUILD_TAG
          exit $?
        env:
          BUILD_TAG: ${{ inputs.build_tag }}
          RELEASE_BUILD: ${{ inputs.do_release_build }}
