name: Weblens Fulltest

on:
  workflow_dispatch:
    inputs:
      trace:
        description: "Trace"
        required: true
        default: false
        type: boolean
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - uses: docker/setup-docker-action@v4

      - name: Run Tests
        run: |
          # Restart docker to fix networking bug...
          sudo systemctl restart docker

          ./scripts/testWeblens 
          exit $?
