@import "../../components/theme";

.files-grid {
    display: grid;
    height: max-content;
    overflow: scroll;
    padding: 4px;


    @media (max-width: 9000px) {
        //grid-template-columns: repeat( 1fr, auto );
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    //@media (max-width: 600px) {
    //    grid-template-columns: repeat( auto-fit, minmax(150px, 0.5fr) );
    //}
}

.file-text-container {
    container-type: size;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    color: $main-text;
    align-items: center;

    [data-selected='1'] & {
        color: white;
    }
}


.weblens-file {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-basis: 250px;
    max-width: 400px;
    margin: 6px;
    aspect-ratio: 0.9;
    border-radius: 6px;
    background-color: $item-grey;
    color: $main-text;
    transition: box-shadow 150ms ease-in-out, color 150ms ease-in-out;
    box-shadow: $hard-shadow-off;
    outline: 2px solid $dark-paper-transparent;
    user-select: none;

    &[data-row],
    &[data-column-row] {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 62px;
        max-height: 62px;
        max-width: 90000px;
        flex-shrink: 0;
        flex-grow: 0;
        margin: 0px;
        padding: 6px;
        padding-right: 8px;
        gap: 10px;
    }

    &[data-column-row] {
        height: 52px;
        max-height: 52px;
        justify-content: space-between;
    }

    &[data-clickable='true'] {
        cursor: pointer;
    }

    &[data-hovering='1'],
    &:hover {
        background-color: $item-focus
    }

    &[data-in-range='1'] {
        background-color: var(--dark-paper);
        --wl-text-color: white;

        &[data-last-selected='1'] {
            outline: 1px solid #999999;
        }
    }

    &[data-selected='1'] {
        background-color: $theme-color;
        box-shadow: $hard-shadow;
        --wl-text-color: white;

        &[data-current-view='false'] {
            background-color: $item-focus;
        }

        &[data-last-selected='1'] {
            outline: 1px solid #999999;
        }
    }

    &[data-droppable='1'] {
        background-color: var(--dark-paper);
        outline: 2px solid $theme-color;
        --wl-text-color: white;
    }

    &[data-moved='1'] {
        pointer-events: none;
        color: $disabled-grey-text;
    }
}

.item-info-box {
    user-select: none;
    width: 100%;
    height: 100%;
    padding: 4px;
    min-height: 36px;
    font-size: max(min(2vw, 20px), 16px);

    align-items: center;
    //justify-content: center;
    display: flex;

    &[data-editing-allowed='true'] {
        cursor: text;
    }
}

.file-size-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    user-select: none;
    z-index: 30;
    font-size: max(min(1vw, 12px), 12px);
    top: 12px;
    right: 12px;
    padding: 4px;
    border-radius: 4px;
    background-color: $theme-color;
    color: white;
    box-shadow: $hard-shadow;
    pointer-events: none;

    &[data-moved='1'] {
        color: $disabled-grey-text;
    }

    [data-selected='1'] & {
        background-color: $item-grey;
    }
}

.file-size-text {
    color: white;
    font-size: 14px;

    [data-selected='1'] & {
        color: $main-text;
    }
}

.file-rows {
    display: flex;
    flex-direction: column;
    //gap: 4px;
    padding: 4px;
    //overflow-y: scroll;
    height: 100%;
    width: 100%;
}

.file-text {
    padding: 8px;
    font-weight: 500;
    position: relative;
    justify-content: center;
    font-size: 40cqh;
    transition: color 100ms ease-in-out;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;

    [data-row] & {
        padding: 10cqh;
        font-size: 80cqh;
    }

    [data-column-row] & {
        padding: 10cqh;
        font-size: 40cqh;
    }

    // [data-selected='1'] & {
    //     color: white;
    // }

    // [data-in-range='1'] & {
    //     color: white;
    // }
}

.selectable-text {
    [data-selected='1'] & {
        color: white;
    }
}

.column-row {
    width: 100%;
    user-select: none;

    &:hover {
        background-color: $item-focus;
    }
}
